@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --clr-main-red: #D72130;
    --clr-red-text: #C63638;
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-grey-light: #B2B2B2;
    --clr-grey-dark: #7F7B7B;
    --clr-grey-light-header-border: #EDEDED;
    --clr-article-title: #2B2F43;
    --clr-background-text-article: rgba(204, 211, 224, 0.3);
    --background-grey: #F6F6F6;
}

/* ============== Main Layout and Styling ============== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

main {
    margin-left: 15%;
    grid-column: span 4;
    margin: 5rem 0 0 -1rem;
}

header {
    grid-column: span 5;
}

.sidenav {   
    grid-column: span 1;
    margin: 5rem 0 0 4rem;
}

footer {
    grid-column: span 5;
}

a {
    text-decoration: none;
    color:var(--clr-black);
}

/* ============== Header Bar ============== */

.headerBar {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.shareLinks, .userProfile, .language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBar > div {
    padding: 30px;
    margin: 0;
}

.logo {
    width: 20%;
    background: var(--clr-main-red);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

div.logo a {
    color: var(--clr-white);
}

.searchBar {
    width: 35%;
    border: 1px solid var(--clr-grey-light-header-border);
}

.searchBar a {
    margin-right: 20px;
}

#searchBar {
    border: none;
    color: var(--clr-grey-light);
    font-size: 18px;
    width: 50%;
}

.shareLinks {
    width: 20%;
    border-left: none;
    border: 1px solid var(--clr-grey-light-header-border);
}

.shareLinks > * {
    margin-right: 20px;
}

.userProfile {
    width: 30%;
    border: 1px solid var(--clr-grey-light-header-border);
}

.userProfile > * {
    margin-right: 10px;
}

div.language {
    margin-left: 50px;
}


#sideNav {
    display: block;
}


/* ============== Side Menu ============== */

.sidenav {   
    display: flex;
    flex-direction: column;
    gap: 4rem;
    grid-area: 'nav';
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2.5rem;    
}

nav a {
    color: var(--clr-grey-light);
    font-weight: 600;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--clr-red-text);
}

.followNav p {
    color: var(--clr-grey-light);
}

.followIcons {
    width: 4rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "facebook" "twitter"
                         "google" "youtube";
    gap: 1rem;
}

#facebook {
    grid-area: "facebook";
}

#twitter {
    grid-area: "twitter";
}

#google {
    grid-area: "google";
}

#youtube {
    grid-area: "youtube";
}

/* ============== Footer ============== */

footer {
    background-color: var(--clr-main-red);
    color: var(--clr-white);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerInfo {
    text-align: right;
}

footer a {
    color: var(--clr-white);
}

/* ============== Article Page ============== */

.detailsPage {
    width: 65%;
    position: relative;
}

.backgroundText {
    font-family: 'Roboto', sans-serif;;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 140px;
    color: var(--clr-background-text-article);
    position: absolute;
    right: -30%;
    top: 20%;
    transform: rotate(90deg);
    z-index: -1;
}

/* ........ Article Title ........ */

.titleImage {
    position: relative;
    margin-bottom: 4rem;
}

.titleImage img {
    width: 100%;
}

.articleTitle {
    background: var(--background-grey);
    width: 50%;
    padding: 3rem 3rem 1rem 3rem;
    line-height: 2rem;
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 7px 13px 26px 0px #9a9a9a;
}

.articleTitle > * {
    margin-bottom: 1rem;
}

.articleTitle p {
    color: var(--clr-grey-dark);
}

.articleTitle h4 {
    color: var(--clr-red-text);
}

.articleTitle h1 {
    color: var(--clr-article-title);
}

.articleTitle a, .articleTitle i {
    color: var(--clr-grey-dark);
    margin-right: 1rem;
}

/* ........ Article Text ........ */

article {
    margin-bottom: 4rem;
}

article span {
    color: var(--clr-red-text);
}

/* ....... Comments Section ........ */

.commentsContainer {
    background: var(--background-grey);
    padding: 2rem;
    margin-bottom: 4rem;
}

.commentsTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.commentsTitle h3 {
    text-transform: uppercase;
}

.sortingCriteria {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--clr-red-text);
    font-weight: 700;
}

.sortingCriteria a {
    color: var(--clr-red-text);
}

.comments {
    background: var(--clr-white);
}

.submitComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--clr-grey-light);
    padding: 1rem 3rem 1rem 1rem;
}

.submitComment input#comment {
    width: 70%;
    border: none;
    position: relative;
    left: -50px;
    color: var(--clr-grey-light);
}

.submitComment input#submitBtn {
    background: none;
    border: none;
    color: var(--clr-grey-dark);
}

.userComments {
    border: 1px solid var(--clr-grey-light);
    border-top: none;
    padding: 1rem 3rem 1rem 1rem;
}

.userComments .comment {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.commentReaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.commentReaction a {
    color: var(--clr-grey-dark);
}

.commentActions a, .likeDislike a{
    margin-right: 1rem;
}

p#date {
    color: var(--clr-grey-dark);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

span#edited {
    color: var(--clr-grey-light);
    font-weight: 400;
}

.commentText {
    line-height: 1.5rem;
}

.commentText hr {
    margin: 1rem 0;
}

.showMore, .showMore a {
    text-align: center;
    margin-top: 2rem;
    color: var(--clr-grey-dark);
}

/* ....... More Articles Section ........ */

.moreArticles {
    position: relative;
    margin-bottom: 200px;
} 

.moreArticlesTitle h2 {
    padding: 0.5rem 3rem;
    display: inline;
    border: 1px solid var(--clr-grey-light);
    border-radius: 50px;
    background: var(--clr-white);
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
}

.articleContainer {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.articleContainer .article {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px solid var(--clr-grey-light-header-border);
}

.articleContainer > .article:nth-child(3), .article:nth-child(4) {
    border-top: none;
    border-bottom: none;
}

.articleInfo {
    padding: 15px;
}

.articleInfo a {
    color: var(--clr-article-title);
    font-weight: 700;
}

.articleInfo p {
    color: var(--clr-grey-light);
}